.carousel_container {
	position: relative;
	overflow: hidden;
}
.carousel_container ul {
	list-style: none;
	position: relative;
}
.carousel_container ul li {
	position: absolute;
	top : 0;
	left: 0;
	display: none;
}
.carousel_container .pages {
	height:30px;
	background: #000;
	position: absolute;
	left:0;
	bottom: 0;
}

.carousel_container .pages div {
	width: 20px;
	height: 20px;
	margin:5px;
	background: #fff;
	float: left;
	border-radius: 20px;
}
.carousel_container .pages div.current {
	background: #f00;
}

.carousel_container .prev,.carousel_container .next {
	width: 45px;
	height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin:auto;
	background: #000;
	color:#fff;
	font-size:30px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
	opacity: 0.5;
	cursor:default;
}
.carousel_container .next {
	right: 0;
}